<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<main layout:fragment="main">
<h1>main</h1>
    <a sec:authorize="isAnonymous()" th:href="@{/member/join}">회원가입</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
<div>
    <a sec:authorize="isAuthenticated()" th:href="@{/member/myPage}">마이페이지</a>
</div>
<div>
    <a th:href="@{/post/list}">글 목록</a>
    <a th:href="@{/product/list}">상품 목록</a>
</div>
</main>
</body>
</html>