<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week 2 _ 장바구니</title>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>상품명</th>
            <th>가격</th>
            <th>글쓴이</th>
            <th>담은 날짜</th>
        </tr>
        </thead>
        <tbody>
        <div id="postList" th:each="cartItem : ${cartItemList}">
            <div th:if="${member.id == cartItem.getMember().id}">
                <tr>
                    <td th:text="${cartItem.getProduct().subject}"></td>
                    <td th:text="${cartItem.getProduct().price}"></td>
                    <td th:text="${cartItem.getMember().userName}"></td>
                    <td th:text="${#strings.substring(cartItem.createDate, 0, 16)}"></td>
                    <td>
                        <a th:href="@{/cart/remove/{productId} (productId = ${cartItem.getProduct().id})}">장바구니에서 삭제</a>
                    </td>
                </tr>
            </div>
        </div>
        <a th:href="@{/order/create}">장바구니에 담긴 항목 주문하기</a>
        </tbody>
    </table>
</div>
</script>

</body>
</html>