<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Week 2 _ 주문상세페이지</title>
</head>
<body>
    <div class="row">
        <p>주문번호</p>
        <p th:text="${order.id}"></p>
    </div>
    <div class="row">
        <p>주문 날짜</p>
        <p th:text="${order.createDate}"></p>
    </div>
    <div class="row">
        <p>주문자</p>
        <p th:text="${order.getMember().userName}"></p>
    </div>
    <div class="row">
        <p>주문가격</p>
        <p th:text="${order.calculatePayPrice}"></p>
    </div>
    <div>
        <div th:each="orderItem : ${orderItemList}">
            <p>상품</p>
            <p th:text="${orderItem.getProduct().subject}"></p>
            <p>가격</p>
            <p th:text="${orderItem.getProduct.price}"></p>

        </div>
    </div>

    <div>
        <button onclick="payment();" class="btn btn-sm btn-primary">카드결제</button>
    </div>
<script src="https://js.tosspayments.com/v1"></script>

<script th:inline="javascript">
    const orderId = /*[[ ${order.id} ]]*/ null;
    const buyerName = /*[[ ${order.getMember().userName} ]]*/ null;
    const orderName = /*[[ ${order.name} ]]*/ null;
    const orderPayPrice = /*[[ ${order.calculatePayPrice} ]]*/ null;
</script>

<script>
    const tossPayments = TossPayments("test_ck_4vZnjEJeQVxOjy0QQDZ3PmOoBN0k");

    function payment() {
        const method = "카드"; // "카드" 혹은 "가상계좌"

        const paymentData = {
            amount: orderPayPrice,
            orderId: "order__" + orderId,
            orderName,
            customerName: buyerName,
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
        };

        tossPayments.requestPayment(method, paymentData);
    }
</script>


</body>
</html>