<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week 1 _ 비밀번호 변경</title>
</head>
<body>
<form th:action="@{/member/modifyPassword}" th:object="${memberModifyPasswordDto}" method="post">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label">사용하던 비밀번호</label>
            <input type="password" name="oldPassword" th:field="*{oldPassword}" class="form-control">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label">새로운 비밀번호</label>
            <input type="password" name="password" th:field="*{password}" class="form-control">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label">새로운 비밀번호 확인</label>
            <input type="password" name="passwordConfirm" th:field="*{passwordConfirm}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </div>
</form>
</body>
</html>